:root {
  --primary: rgba(236, 236, 236);
  --secondary: rgba(192, 192, 192);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uth {
  background-color: white;
  box-shadow: 2px 2px 2px 2px #888;
  width: 40%;
}

.header,
.add {
  border-bottom: 2px solid var(--secondary);
  display: flex;
  justify-content: space-between;
  padding: 2%;
  align-items: center;
}

.header h2 {
  font-size: 2.5vw;
}

.add img,
.header img,
.tasks img {
  height: 1.4vw;
  cursor: pointer;
}

.add input {
  border: none;
  outline: none;
  line-height: 2.5vw;
}

.add input::placeholder {
  font-style: italic;
  font-size: 1.3vw;
  color: grey;
  border: none;
}

.task {
  display: grid;
  border-bottom: 2px solid var(--secondary);
  grid-template-columns: 1fr 22fr 1fr;
  padding: 2%;
  align-items: center;
  gap: 2vw;
}

.task p {
  font-size: 2vw;
}

.clear {
  background-color: var(--primary);
}

.clear button {
  border: none;
  display: flex;
  justify-content: center;
  padding: 2%;
  margin: auto;
  color: grey;
  font-size: 1.7vw;
  cursor: pointer;
}

.deleteOption {
  display: none;
}

.editMode {
  background-color: rgb(190, 177, 112, 0.8);
}

.show {
  display: block;
}

.hide {
  display: none;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.newformadd input {
  outline: none;
  border: none;
  background-color: var(--primary);
  font-size: 2vw;
}

.todo-button {
  background: none;
  outline: none;
  border: none;
}

.strike {
  text-decoration: line-through;
  opacity: 0.7;
}
